header {
  display: block;
}

section {
  float: left;
  width: 60%;
}


aside {
  float: left;
  width: 20%;
}

.sticky {
  position: relative;
  top: 0;
}

footer {
  display: block;
  clear: both;
}