ul.nav li.dropdown:hover>ul.dropdown-menu {
	display: block;
	margin: 0px;
}

.linkG {
	text-decoration: none;
	color: black;
	padding-right: 10px;
}

.starDiv{
	clear: both; padding-right: 0px;	
	padding-left: 0px;	
	float: left;	
	padding-bottom: 0px;	
	margin: 0px;	
	width: 90px;	
	padding-top: 0px;	
	height: 18px;
}
.starP{
	padding-right:0px;	
	padding-left:0px;	
	padding-bottom: 0px;	
	margin: 0px;	
	padding-top: 0px;	
	height: 18px;
}


#shBar {
	font-size: small;
}

div.dropend li.dropdown:hover>ul.dropdown-munu {
	display : block;
	margin : 0px;
}

footer div div a {
	text-decoration: none;
	color: black;
	padding: 5px;
}

.footerNav {
	font-size: small;
	padding: 8px;
}

.nav-item {
	font-size: small;
}

.randomProduct {
	width: 100%;
}

.todayHot {
	width: 100%;
	height: 100%;
}

.productLink {
	text-decoration: none;
}

.productLink:hover {
	text-decoration: underline;
}

.btnText {
	font-size: small;
}

.productName {
	font-size: large;
	font-weight: bold;
}

.productPrice {
	font-size: x-large;
	font-weight: bold;
	color : hotpink;
}

.arrivalDate {
	font-size: large;
	font-weight: bold;
	color : green;
}

.productDetails {
	font-size: x-small;
}

.subMenu {
	display: none;
}